.listing-container {
    width: 40vw;
    margin: 80px 0 0 20px;
    border-bottom: #d4d4d4 solid;
}

.food-info {
    display: flex;
    justify-items: center;
    margin: 20px 0 20px 20px;
}

.food-name {
    font-size: 24px;
    font-weight: bolder;
}

.food-description {
    margin-right: 20px;
    font-size: 18px;
}

.food-price {
    font-style: italic;
    font-size: 18px;
    margin-right: 20px;
}

.order-button {
    position: absolute;
    width: 5vw;
    text-align: center;
    line-height: 50px;
    padding: 5px 5px 5px 5px;
    left: 34vw;
    border: 1px #d4d4d4 solid;

}

.active:hover {
    background-color: rgba(201, 218, 255, 0.9)
}

.active {
    cursor: pointer;
    background-color: rgba(201, 218, 255, 0.3)
}

.disabled {
    cursor: default;
    color: gray;
}

